In [121]:
import locale

In [122]:
import pandas as pd

csvpath = "Resources/budget_data.csv"
bank_pd = pd.read_csv(csvpath,encoding="utf-8")

In [123]:
bank_pd.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [124]:
Total_month = bank_pd['Date'].count()

In [125]:
Toral_net = bank_pd['Profit/Losses'].sum()

In [126]:
Profit_Losses_List = bank_pd['Profit/Losses'].tolist()

In [127]:
Total_month

86

In [128]:
Toral_net

38382578

In [129]:
len(Profit_Losses_List)

86

In [130]:
Average_Change_List = []
Average_Change_List_Org=[]

In [131]:
for i in range(1,len(Profit_Losses_List)):
    Ave_Change = Profit_Losses_List[i] - Profit_Losses_List[i - 1]
    Average_Change_List.append(Ave_Change)
    Average_Change_List_Org.append(Ave_Change)
    
Average_Change = sum(Average_Change_List)/len(Average_Change_List)

Average_Change

-2315.1176470588234

In [132]:
locale.setlocale( locale.LC_ALL, '')
locale.currency(Average_Change)

'-$2315.12'

In [133]:


Average_Change_List.sort()

In [134]:
Greatest_Decrease = Average_Change_List[0]

Greatest_Increase = Average_Change_List[len(Average_Change_List)-1]

In [135]:
min_index = Average_Change_List_Org.index(Greatest_Decrease) + 1
max_index = Average_Change_List_Org.index(Greatest_Increase) + 1

In [136]:


Gr_Dec_Month = bank_pd['Date'][min_index]
Gr_Inc_Month = bank_pd['Date'][max_index]

In [137]:

print('Financial Analysis')
print('----------------------------------')
print(f'Total Months: {Total_month}')
print(f'Total: {locale.currency(Toral_net)}')
print(f'Average  Change: {locale.currency(Average_Change)}')
print(f'Greatest Increase in Profits: {Gr_Inc_Month} ({locale.currency(Greatest_Increase)})')
print(f'Greatest Decrease in Profits: {Gr_Dec_Month} ({locale.currency(Greatest_Decrease)})')

Financial Analysis
----------------------------------
Total Months: 86
Total: $38382578.00
Average  Change: -$2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.00)
Greatest Decrease in Profits: Sep-2013 (-$2196167.00)

In [118]:
file = open('pybank.txt','a')

file.write('Financial Analysis\n')
file.write('----------------------------------\n')
file.write(f'Total Months: {Total_month}\n')
file.write(f'Total: {locale.currency(Toral_net)}\n')
file.write(f'Average  Change: {locale.currency(Average_Change)}\n')
file.write(f'Greatest Increase in Profits: {Gr_Inc_Month} ({locale.currency(Greatest_Increase)})\n')
file.write(f'Greatest Decrease in Profits: {Gr_Dec_Month} ({locale.currency(Greatest_Decrease)})\n')
file.close()