### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [336]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [337]:
total_players_df = pd.DataFrame([purchase_data['SN'].nunique()],columns = ['Total Players'])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [338]:
unique_item = len(purchase_data['Item ID'].unique())

average_price = '${:,.2f}'.format(purchase_data['Price'].mean())

number_purchases = len(purchase_data['Purchase ID'])

Total_Revenue= '${:,.2f}'.format(purchase_data['Price'].sum())

In [339]:
Summary_data = [{'Number of Unique Items': unique_item, \
                 'Average Price': average_price, \
                 'Number of Purchases': number_purchases,
                 'Total Revenue': Total_Revenue \
                }]

Purchase_Analysis_df = pd.DataFrame(Summary_data)

new_col_order = ['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']
Purchase_Analysis_df = Purchase_Analysis_df[new_col_order]

Purchase_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [340]:
Male_df = purchase_data.loc[purchase_data['Gender'] == 'Male']
Female_df = purchase_data.loc[purchase_data['Gender'] == 'Female']
Other_df = purchase_data.loc[((purchase_data['Gender'] != 'Male')&(purchase_data['Gender'] != 'Female'))]

Total_number = purchase_data['SN'].nunique()

Male_number = Male_df['SN'].nunique()
Female_number = Female_df['SN'].nunique()
Other_number = Other_df['SN'].nunique()

male_per = '{:.2f}'.format((Male_number/Total_number)*100)
female_per = '{:.2f}'.format((Female_number/Total_number)*100)
other_per = '{:.2f}'.format((Other_number/Total_number)*100)

In [341]:
Gender_data = {'Total Count':[Male_number, Female_number, Other_number],\
               'Percentage of Players':[male_per,female_per,other_per]}

Gender_df = pd.DataFrame(Gender_data, index=['Male','Female','Other/Non-Disclosed'])

Gender_df

                     Total Count Percentage of Players
Male                         484                 84.03
Female                        81                 14.06
Other/Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [342]:
# Gender : Male
male_purchase_count = Male_df['Item Name'].count()
male_purchase_value = '${:,.2f}'.format(Male_df['Price'].sum())
male_average_price = '${:,.2f}'.format(Male_df['Price'].sum()/Male_df['Item Name'].count())
male_average_price_per = '${:,.2f}'.format(Male_df['Price'].sum()/Male_number)

In [343]:
# Gender : Female
female_purchase_count = Female_df['Item Name'].count()
female_purchase_value = '${:,.2f}'.format(Female_df['Price'].sum())
female_average_price = '${:,.2f}'.format(Female_df['Price'].sum()/Female_df['Item Name'].count())
female_average_price_per = '${:,.2f}'.format(Female_df['Price'].sum()/Female_number)

In [344]:
# Gender : Other
other_purchase_count = Other_df['Item Name'].count()
other_purchase_value = '${:,.2f}'.format(Other_df['Price'].sum())
other_average_price = '${:,.2f}'.format(Other_df['Price'].sum()/Other_df['Item Name'].count())
other_average_price_per = '${:,.2f}'.format(Other_df['Price'].sum()/Other_number)

In [345]:
purchase_data_gender = [{'Gender': 'Female',\
                         'Purchase Count': female_purchase_count,\
                         'Average Purchase Price': female_average_price, \
                         'Total Purchase Value': female_purchase_value,\
                         'Avg Total Purchase per Person': female_average_price_per },\
                       {'Gender': 'Male',\
                         'Purchase Count': male_purchase_count,\
                         'Average Purchase Price': male_average_price, \
                         'Total Purchase Value': male_purchase_value,\
                         'Avg Total Purchase per Person': male_average_price_per },\
                        {'Gender': 'Other/Non-Disclosed',\
                         'Purchase Count': other_purchase_count,\
                         'Average Purchase Price': other_average_price, \
                         'Total Purchase Value': other_purchase_value,\
                         'Avg Total Purchase per Person': other_average_price_per }]

col_order = ['Gender','Purchase Count','Average Purchase Price','Total Purchase Value','Avg Total Purchase per Person']

purchase_data_gender_df = pd.DataFrame(purchase_data_gender)
purchase_data_gender_df = purchase_data_gender_df[col_order]

purchase_data_gender_df.set_index('Gender', inplace = True) 
purchase_data_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [346]:
bins = [0,9,14,19,24,29,34,39,100]
group_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [347]:
age_demographic_df = purchase_data[['SN','Age']].drop_duplicates(subset='SN', keep='last')
age_demographic_group = age_demographic_df.groupby('Age')['SN'].count()

age_demographic_group_all = age_demographic_group.groupby(pd.cut(age_demographic_group.index,bins,labels=group_labels)).sum()
age_demographic_group_all

<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [348]:
age_demographic_group_df = age_demographic_group_all.to_frame()
age_demographic_group_df.columns = ['Total Count']
age_demographic_group_df['Total Count'] = pd.to_numeric(age_demographic_group_df['Total Count'])

age_demographic_group_df['Percentage of Players'] = age_demographic_group_df['Total Count']/Total_number
age_demographic_group_df['Percentage of Players'] = pd.Series(["{0:.2f}".format(val * 100) for val in age_demographic_group_df['Percentage of Players']], index = age_demographic_group_df.index)
age_demographic_group_df

       Total Count Percentage of Players
<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+             12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [349]:
purchase_age_df = purchase_data[['Age','Item ID','Price']]
purchase_age_price = purchase_age_df.groupby('Age')['Price'].sum()
purchase_age_item = purchase_age_df.groupby('Age')['Item ID'].count()

In [350]:
purchase_age_group_price = purchase_age_price.groupby(pd.cut(purchase_age_price.index,bins,labels=group_labels)).sum()

purchase_age_group_item = purchase_age_item.groupby(pd.cut(purchase_age_item.index,bins,labels=group_labels)).sum()

In [352]:
purchase_age_group_price_df = purchase_age_group_price.to_frame()
purchase_age_group_price_df.columns = ['Total Purchase Price']
purchase_age_group_price_df

       Total Purchase Price
<10                   77.13
10-14                 82.78
15-19                412.89
20-24               1114.06
25-29                293.00
30-34                214.00
35-39                147.67
40+                   38.24

In [353]:
purchase_age_group_item_df = purchase_age_group_item.to_frame()
purchase_age_group_item_df.columns = ['Purchase Count']
purchase_age_group_item_df

       Purchase Count
<10                23
10-14              28
15-19             136
20-24             365
25-29             101
30-34              73
35-39              41
40+                13

In [354]:
purchase_age_group_df = purchase_age_group_item_df.join(purchase_age_group_price_df)
purchase_age_group_df

       Purchase Count  Total Purchase Price
<10                23                 77.13
10-14              28                 82.78
15-19             136                412.89
20-24             365               1114.06
25-29             101                293.00
30-34              73                214.00
35-39              41                147.67
40+                13                 38.24

In [355]:
purchase_age_group_df['Avg Total Purchase per Person'] = purchase_age_group_df['Total Purchase Price']/age_demographic_group_df['Total Count']
purchase_age_group_df['Average Purchase Price'] = purchase_age_group_df['Total Purchase Price']/purchase_age_group_df['Purchase Count']

purchase_age_group_df['Avg Total Purchase per Person']= pd.Series(["${0:.2f}".format(val) for val in purchase_age_group_df['Avg Total Purchase per Person']], index = purchase_age_group_df.index)
purchase_age_group_df['Average Purchase Price']= pd.Series(["${0:.2f}".format(val) for val in purchase_age_group_df['Average Purchase Price']], index = purchase_age_group_df.index)
purchase_age_group_df['Total Purchase Price']= pd.Series(["${0:.2f}".format(val) for val in purchase_age_group_df['Total Purchase Price']], index = purchase_age_group_df.index)

In [357]:
new_col_order = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Price', 'Avg Total Purchase per Person']
purchase_age_group_df = purchase_age_group_df[new_col_order]
purchase_age_group_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [358]:
top_spenders_df  = purchase_data[['SN','Item ID','Price']]

In [359]:
top_spenders_price = top_spenders_df.groupby('SN')['Price'].sum()
top_spenders_item = top_spenders_df.groupby('SN')['Item ID'].count()

In [360]:
top_spenders_price_df = top_spenders_price.to_frame()
top_spenders_item_df = top_spenders_item.to_frame()

In [362]:
top_spenders_item_df.columns = ['Purchase Count']
top_spenders_price_df.columns = ['Total Purchase Price']

In [363]:
top_spenders_price_sorted_df = top_spenders_price_df.sort_values(by=['Total Purchase Price'], ascending=False)
top_spenders_price_sorted_df.head()

             Total Purchase Price
SN
Lisosia93                   18.96
Idastidru52                 15.45
Chamjask73                  13.83
Iral74                      13.62
Iskadarya95                 13.10

In [364]:
top_spenders_ordered_df = top_spenders_price_sorted_df.join(top_spenders_item_df)
top_spenders_ordered_df.head()

             Total Purchase Price  Purchase Count
SN
Lisosia93                   18.96               5
Idastidru52                 15.45               4
Chamjask73                  13.83               3
Iral74                      13.62               4
Iskadarya95                 13.10               3

In [365]:
top_spenders_ordered_df['Average Purchase Price'] = top_spenders_ordered_df['Total Purchase Price']/top_spenders_ordered_df['Purchase Count']

top_spenders_ordered_df['Average Purchase Price']= pd.Series(["${0:.2f}".format(val) for val in top_spenders_ordered_df['Average Purchase Price']], index = top_spenders_ordered_df.index)
top_spenders_ordered_df['Total Purchase Price']= pd.Series(["${0:.2f}".format(val) for val in top_spenders_ordered_df['Total Purchase Price']], index = top_spenders_ordered_df.index)

In [366]:
new_col_order = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Price']
top_spenders_ordered_df = top_spenders_ordered_df[new_col_order]
top_spenders_ordered_df.head()

             Purchase Count Average Purchase Price Total Purchase Price
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [367]:
popular_items_df = purchase_data[['Item ID','Item Name','Price']]

In [368]:
popular_items_price = popular_items_df.groupby(['Item ID','Item Name'])['Price'].sum()
popular_items_count = popular_items_df.groupby(['Item ID','Item Name'])['Price'].count()

In [369]:
popular_items_price_group_df = popular_items_price.to_frame()
popular_items_price_group_df.columns = ['Total Purchase Price']

popular_items_count_group_df = popular_items_count.to_frame()
popular_items_count_group_df.columns = ['Purchase Count']

popular_items_count_sorted_df = popular_items_count_group_df.sort_values(by=['Purchase Count'],ascending=False)

In [371]:
popular_items_count_sorted_df.head()

                                                      Purchase Count
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm              12
145     Fiery Glass Crusader                                       9
108     Extraction, Quickblade Of Trembling Hands                  9
82      Nirvana                                                    9
19      Pursuit, Cudgel of Necromancy                              8

In [370]:
most_popular_items_df = popular_items_count_sorted_df.join(popular_items_price_group_df)
most_popular_items_df['Item Price'] = most_popular_items_df['Total Purchase Price']/most_popular_items_df['Purchase Count']

new_col_order = ['Purchase Count', 'Item Price', 'Total Purchase Price']
most_popular_items_df = most_popular_items_df[new_col_order]

In [372]:
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [373]:
# Formatting
most_popular_items_df['Item Price']= pd.Series(["${0:.2f}".format(val) for val in most_popular_items_df['Item Price']], index = most_popular_items_df.index)
most_popular_items_df['Total Purchase Price']= pd.Series(["${0:.2f}".format(val) for val in most_popular_items_df['Total Purchase Price']], index = most_popular_items_df.index)

most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [374]:
popular_items_price_sorted_df = popular_items_price_group_df.sort_values(by=['Total Purchase Price'],ascending=False)

In [375]:
most_pofitable_items_df = popular_items_price_sorted_df.join(popular_items_count_group_df)
most_pofitable_items_df['Item Price'] = most_pofitable_items_df['Total Purchase Price']/most_pofitable_items_df['Purchase Count']

new_col_order = ['Purchase Count', 'Item Price', 'Total Purchase Price']
most_pofitable_items_df = most_pofitable_items_df[new_col_order]

In [376]:
#Formatting
most_pofitable_items_df['Item Price']= pd.Series(["${0:.2f}".format(val) for val in most_pofitable_items_df['Item Price']], index = most_pofitable_items_df.index)
most_pofitable_items_df['Total Purchase Price']= pd.Series(["${0:.2f}".format(val) for val in most_pofitable_items_df['Total Purchase Price']], index = most_pofitable_items_df.index)


most_pofitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Price
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80